*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: metropolis;
}
html{
	scroll-behavior: smooth;
}
/*====GENERAL STYLING PROPERTIES====*/
a{
	text-decoration: none;
	color: inherit;
}
h1{
	font-size: clamp(2em, 3em, 3.5em);
}
h2{
	font-size: clamp(1.75em, 4vw, 2.5em);
}
h3{
	font-size: clamp(1.5em, 5vw, 1.75em);
}
h4{
	font-size: 1.5em;
}
p{
	font-size: 1em;
	line-height: 1.3;
}
.secondary-text{
	font-size: 1.125em;
}
.btn{
	background-color: #FB770D;
	padding: 15px;
	color: #fff;
	border-radius: 8px;
	border-width: 0px;
	transition: 0.3s;
}
.btn:hover{
	background-color: #25424C;
	transition: 0.3s;
}


.wrapper{
	margin: 0 30px 0 30px;
}

/*====NAVIGATION BAR STYLING SECTION====*/
.navbar {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}
.navbar-logo{
	margin-top: 20px;
  color: #000;
  font-size: 24px;
}
.navbar__link {
  padding-right: 8px;
}

.navbar__Items {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.navbar__Items ul{
	list-style: none;
}
.navbar__Items ul li{
	display: inline-block;
	margin-left: 10px;
}
.navbar__Items ul li a:hover{
	border-bottom: 2px solid #FB770D;
}
.navbar__Items--right {
  margin-left:auto;
}

.navbar__link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar {
  background-color: #1a1a1a;
  }
  .navbar-logo{
  color: #fff;
}
  .navbar__Items,
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
  }
    
	.navbar__Items {
    display:none;
    margin-left: 0;
  }
  .navbar__Items ul{
  	display: flex;
  	flex-direction: column;
  }
  .navbar__Items li{
  display: block;
  color: #fff;
  margin-bottom: 24px;
	} 
	.navbar__Items--right {
    margin-left:0;
  }
  .navbar__Items--right .join-btn{
  	margin-top: 10px;
  }
    
	.navbar__ToggleShow {
    display: flex;
    height: auto;
    padding-bottom: 20px;
    transition: 0.3s;
  }
    
	.navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    /*margin-top: 10px;*/
    color: #fff;
    font-size: 24px;
  } 
}
/*====END OF NAVIGATION BAR STYLING SECTION====*/


/*====HERO SECTION STYLING====*/
.hero-section{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	margin-top: 30px;
}
.text-description{
	width: 40%;
}
.text-description h1, p{
	margin-bottom: 15px;
}
.text-description .btn{
	margin-top: 15px;
}
.img-description{
	width: 60%;
}
.img-description img{
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 880px){
	.hero-section{
	flex-direction: column;
}
.text-description{
	text-align: center;
	width: 100%;
}
.text-description h1, p{
	margin-bottom: 15px;
}
.text-description .btn{
	margin-top: 15px;
}
.img-description{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.img-description img{
	width: 90%;
	height: auto;
}

}
/*====END OF HERO SECTION STYLING====*/


/*====DETAILS SECTION STYLING====*/
.details-section{
	margin: 72px 0 30px 0;

}

.details-section h2{
	text-align: center;
	margin-bottom: 24px;
}
.details-section__container{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	padding: 10px;
}
.details-section_icon{
	margin-bottom: 12px;
}
.details-section__container h4{
	margin-bottom: 12px;
}
@media only screen and (max-width: 1000px){
	.details-section__item{
		margin-bottom: 24px;
	}
}
@media only screen and (max-width: 450px){
	.details-section__item{
		width: 100%;
	}
}

/*====END OF DETAILS SECTION STYLING====*/


/*====COURSE SECTION STYLING====*/
.course-section{
	margin: 72px 0 30px 0;
}

.course-section h2{
	text-align: center;
	margin-bottom: 24px;
}
.course-section__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.course-container__item{
	max-width: 350px;
}
.course-container__item img{
	max-width:320px;
	height: auto;
}
.course-container__item img, h4, p{
	margin-bottom: 12px;
}
.course-container__item h4:hover{
	text-decoration: underline;
}



@media only screen and (max-width: 1280px){
	.course-container__item{
		margin-bottom: 24px;
	}
}
@media only screen and (max-width: 600px){
	.course-container__item{
		width: 100%;
	}
	.course-section__container{
		justify-content: center;
	}
	.course-container__item img, h4, p{
		width: 100%;
	}
}
/*====END OF COURSE SECTION STYLING====*/