*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: metropolis;
}
html{
	scroll-behavior: smooth;
}
/*====GENERAL STYLING PROPERTIES====*/
a{
	text-decoration: none;
	color: inherit;
}
h1{
	font-size: 48px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 32px;
}
h4{
	font-size: 24px;
}
p{
	font-size: 16px;
}
.secondary-text{
	font-size: 18px;
}
.btn{
	background-color: #FB770D;
	padding: 15px;
	color: #fff;
	border-radius: 8px;
	border-width: 0px;
	transition: 0.3s;
}
.btn:hover{
	background-color: #25424C;
	transition: 0.3s;
}

/*====NAVIGATION BAR STYLING SECTION====*/
.wrapper{
	margin: 0 30px 0 30px;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 66px;
}
.navbar__link-brand{
	font-size: 24px;
}
.navbar__Items ul{
	list-style: none;
	margin-left: -100px;
}
.navbar__Items ul li{
	display: inline-block;
	margin-left: 10px;
}
.navbar__Items ul li:hover{
	border-bottom: 2px solid #FB770D;
}

@media only screen and (max-width: 680px){
	.navbar{
		flex-direction: column;
		justify-content: unset;
		
	}
	.navbar__Items ul{
		list-style: none;
		margin-left: unset;
	}
	.navbar__Items ul li{
		display: block;
		margin-left: 10px;
	}
}





.hero-section{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}
.text-description{
	width: 40%;
}
.text-description h1, p{
	margin-bottom: 15px;
}
.text-description .btn{
	margin-top: 15px;
}
.img-description{
	width: 60%;
}
.img-description img{
	width: 100%;
	height: auto;
}
